#list-nav button {
    width: 140px;
    font-weight: 700;
}

.custom-btn {
    border: 1px solid gray;
    transition: 300ms;
}

.custom-btn:hover {
    box-shadow: 0 0 3px rgb(85, 84, 84);
}

.list-icon {
    background-color: #F1F3F4;
}

.plus-icon path{
    stroke: #ffffff; /* Background color against your svg */
    stroke-width: 0.7px; /*Between 1px and 2px*/
}


@media only screen and (max-width: 700px) {

    #list-nav button {
        font-size: 14px;
        font-weight: 700;
        width: 120px;
      
    }
}
