<div class="container m-3 d-flex justify-content-center">
    <div class="btn-group">
        <button *ngFor="let watchlist of watchlists; let i = index" class="btn btn-secondary"
         routerLink="list/{{ i + 1}}" [state]="{name: watchlist.name}">
         {{watchlist.name}}
        </button>
        <button type="button" class="btn btn-primary" (click)="openVerticallyCentered(content)">
            + New List
        </button>
    </div>

</div>


<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create New List</h4>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
            <label for="list-name" class="col-form-label">List Name:</label>
            <input name="listName" [(ngModel)]="newList.name" class="form-control" required>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Close</button>
      <button type="submit" class="btn btn-outline-dark" (click)="modal.close()">Save</button>
    </div>
  </ng-template>

