<div class="container">
    <ul>
        <li *ngFor="let watchlist of watchlists; let i = index">
            <a routerLink="list/{{ i + 1}}">{{watchlist.name}}</a>
        </li>
        <button type="button" class="btn btn-primary" (click)="openVerticallyCentered(content)">
            + New List
          </button>
    </ul>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create New List</h4>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
            <label for="list-name" class="col-form-label">List Name:</label>
            <input name="listName" [(ngModel)]="listName" class="form-control" required>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Close</button>
      <button type="submit" class="btn btn-outline-dark" (click)="modal.close()">Save</button>
    </div>
  </ng-template>

