#list-top {
    display: flex;
    justify-content: space-between;
}

.list-top-right{
    height: 40px;
    display: flex;
    column-gap: 10px;
}
.list-name {
    margin-top: 4px;
    font-size: 30px;
    font-weight: 700;
    margin-left: 30px;
}
.edit-menu span{
    padding-right: 10px;
}

.edit-menu button {
    height: 40px;
}

#list-section {
    max-width: 1000px;
}

.tickers-container {
    width: 700px;
}


.ticker-info-right {
    column-gap: 60px;
}
#tickers-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.ticker {
    color: white;
    padding: 3px 13px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 700;
}

.company-name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 700;
}

.price {
    margin-top: 3px;
    font-size: 17px;
    font-weight: 700;
}

.price-increase {
    color: green;
}

.percent-increase {
    margin-top: -3px;
    background-color: #E6F4EA;
    color: green;
    border-radius: 10px;
    padding: 5px 0px;
    width: 100px;
}

.up-arrow {
    stroke: green; 
    stroke-width: 1.2px;
}



.price-decrease {
    color: #9e0d00;
}

.percent-decrease {
    margin-top: -3px;
    background-color: #FCE8E6;
    color: #9e0d00;
    border-radius: 10px;
    padding: 5px 0px;
    width: 100px;
}

.down-arrow {
    stroke: #9e0d00; 
    stroke-width: 1.2px;
}


.delete {
    width: 20px;
    
}

.delete svg {
    cursor: pointer;
    margin-bottom: 5px;
    transition: 200ms;
    opacity: 0.0;
}
.delete svg:hover{
    display: block;
    width: 23px;
    height: 23px;
    stroke: #0e0e0e; 
    stroke-width: 1.2px;
    opacity: 1.0;
}


@media only screen and (max-width: 700px) {
    .ticker-info-left {
        flex-direction: column;
    }
    .ticker {
        max-width: 50px;
        color: white;
        padding: 3px 5px;
        border-radius: 10px;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
    }
    .tickers-container {
        width: 400px;
    }
    
    .ticker-info-right {
        column-gap: 60px;
    }

    .percent-increase{
        display: none;
    }
    .percent-decrease{
        display: none;
    }
    .ticker-info-right {
        column-gap: 20px;
    }

    .price {
        margin-top: 3px;
        font-size: 15px;
        font-weight: 700;
    }
    .company-name {
        margin-top: 2px;
        font-size: 15px;
        font-weight: 700;
    }
  }